<div class=" container">
  <form class="add-product m-5" #productForm=ngForm>
      <div class="add-product__images slider">
          <div class="add-product__image-actions">
              <div class="add-product__image-action">
                   <label for="files" class="btn">Select New Image</label>
                  <input id="files" type="file" style="visibility:hidden;" (change)="onSelect($event)" accept="image/*">
              </div>
          </div>
          <div class="slider__items">
              <div class="slider__item active" [style]="'background-image:url(' + product.imagepath + ')'"></div>
          </div>
      </div>
      <div class="add-product__data col-md-6">
          <div class="form-controls">
              <section class="tabs">
                  <div class="tabs__bodies">
                      <div class="tabs__body active">
                          <div class="form-group " [ngClass]="{'invalid': nameInputElement.touched && nameInputElement.invalid } ">
                              <label for="">Name</label>
                              <input class="form-control" type="text" name="name" ngModel id=""
                              [(ngModel)]="product.name" required pattern ="^[\u0000-\u007F]+$" #nameInputElement= ngModel />
                          </div>
                          <span *ngIf="nameInputElement.touched && nameInputElement.invalid && nameInputElement.control.errors?.['required']"> this Faild is required </span>
                          <span *ngIf="nameInputElement.touched && nameInputElement.invalid && nameInputElement.control.errors?.['pattern']"> Please enter valid data in english letter  </span>
                          <div class="form-group">
                              <label for="">Description</label>
                              <textarea class="form-control" name="description" ngModel id="" cols="30" rows="4"[(ngModel)]="product.description"></textarea>
                          </div>
                          <div class="form-group">
                              <label for="">Image Path</label>
                              <input class="form-control" name="imagepath" ngModel id="" [(ngModel)]="product.imagepath">
                          </div>

                      </div>
                  </div>
              </section>

              <div class="form-group" [ngClass]="{'invalid': priceInputElement.touched && priceInputElement.invalid } ">
                  <label for="">Price</label>
                  <input class="form-control" type="number" ngModel name="price" id="" [(ngModel)]="product.price" required #priceInputElement= ngModel />
              </div>
              <span *ngIf="priceInputElement.touched && priceInputElement.invalid && priceInputElement.control.errors?.['required']">this faild is required </span>

              <!-- <div class="add-product__discount">
                  <div class="form-group">
                      <label for="">Discount</label>
                      <input class="form-control" type="number" ngModel name="discount" id="" [(ngModel)]="product.discount" >
                  </div>
              </div> -->

              <!-- <div class="form-group">
                  <label for="">Payment Types</label>
                  <div class="form-group__checkboxs">
                      <div  *ngFor="let paymentType of paymentTypes; let i = index" class="form-group__checkbox"><input    type="checkbox" (change)="onCheckBoxChanged(i)"  ngModel  [name]="'checkbox_'+paymentType.id" id="">
                          <span>{{paymentType.name}}</span></div>
                  </div>
              </div> -->
              <div class="form-group">
                  <label for="">Category</label>
                  <select class="form-control" ngModel name="category" id="" [ngModel]="editMode ? product.category.id:''">
                      <option  *ngFor="let category of categoryArray" [value]="category.id">{{category.name}}</option>
                  </select>
              </div>

              <div class="add-product__actions">
                  <button class="btn btn--gray" [routerLink]="['/product/listing']">Cancel</button>
                  <!-- [disabled]="!productForm.valid" -->
                  <button (click)="onAddProduct(productForm)" [disabled]="productForm.invalid" class="btn btn--primary">{{editMode ? 'Edit' : 'Add'}}</button>
              </div>
          </div>
      </div>
  </form>
</div>
