.contact-Us {
  background: rgba(0, 0, 0, 0.596);
  background-image: url('../../../../assets/img/contact.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

h2 {
  color: #ffb03b;
  font-family: "Lucida Handwriting" !important;
  font-size: 40px;
  text-decoration: underline underline wavy;
  line-height: 1.2;
  font-weight: 600;
}

.btn {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 12px 30px;
  border-radius: 50px;
  line-height: 1;
  margin-left: 30% !important;
  background: #ffb03b;
  color: #fff;
  width: auto;
}

.btn:hover {
  transform: translateY(-1px);
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: #ffb03b;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}

input,
textarea {
  border-radius: 20px;
  width: 80%;
  font-size: 16px;
}
