<section>
    <h2 class="text-center p-5 m-2">WELCOME TO OUR RESTAURANT</h2>

</section>

<div class="container">
    <!-- filters -->
  <app-product-filtering  class="filters"></app-product-filtering>
    <!-- Items -->
    <section class="item-listing pt-5" >
        <!-- tools (sorting , change view , exporting) -->
        <!-- <div class="item-listing__tools">
            <select class="form-control" name="" id="">
                <option value="1">Featured</option>
                <option value="2">Price low to high</option>
                <option value="3">Price high to low</option>
                <option value="4">Name</option>
            </select>
            <a class="action-btn" routerLink="product-add">
                <i class="fas fa-plus"></i>
            </a>
        </div> -->
        <!-- items -->
        <div class="item-listing__items item-listing--3items" style="width:100%">
            <!-- medium 8 item -->
          <app-product-item class="item-medium-1"  *ngFor="let prod of productArr | paginate:{ itemsPerPage: 6, currentPage: p} "  [productItem]="prod" ></app-product-item>
        </div>

  <pagination-controls
  (pageChange)="p = $event"
  class="float-right d-block">
  </pagination-controls>

</section>
