<section class="menu-bg text-white">

  <div>
    <h2 class="text-center p-5 m-5">CHECK OUR MENU</h2>
    <form class="d-flex">
      <input class="form-control me-2 search mx-auto fs-4 me-5" name="search" [(ngModel)]="searchInput" type="search"
        placeholder="Search" aria-label="Search">
    </form>
  </div>

  <div class="container">
    <!-- categories -->
    <app-product-filtering class="filters mt-5 me-3"></app-product-filtering>

    <section class="item-listing pt-5">

      <!-- items -->
      <div class="item-listing__items item-listing--3items" style="width:100%">
        <app-product-item class="item-medium-1 col-md-4"
          *ngFor="let prod of productArr | filter: searchInput | paginate:{ itemsPerPage: 6, currentPage: p}"
          [productItem]="prod"></app-product-item>
      </div>

      <pagination-controls (pageChange)="p = $event" class="d-flex justify-content-end fs-5 me-5 mb-5">
      </pagination-controls>

    </section>
