    <!-- search box -->
    <!-- <div class="search-box">
        <input class="search-box__input" placeholder="Search..." type="text" name="txt_search" id="">
        <button type="submit" class="search-box__btn">
            <i class="fas fa-search"></i>
        </button>
    </div><br><br><br> -->
    <!-- filter list -->
    <div>
        <!-- filter header -->
        <h3>Categories</h3>
        <!-- filter list -->
        <ul class="list list--vr-separator" *ngFor="let catg of categoryList">
          <li class="link list__item"  [routerLink]="['/product','categories',catg.id]">
              <i class="link__icon fas fa-angle-right"></i>{{catg.name}}</li>
      </ul>

    </div>
    <!-- filter tags -->
    <!-- <div> -->
        <!-- filter header -->
        <!-- <h5>Tags</h5> -->
        <!-- filter tags -->
        <!-- <div class="tags">
            <span class="tag" *ngFor="let tag of tagArray; let x = index" (click)="getFilterTag(x)">{{tag.name}} <br> </span>
        </div> -->
    <!-- </div> -->
    <!-- related items -->
    <div>
        <!-- title -->
        <h5></h5>
        <!-- small item -->
        <div></div>
        <div></div>
        <div></div>
    </div>
