.header
{
    &__logo-box
    {
        display: flex;
        align-items: center;
        width:5rem;
    }

    &__logo
    {
        width:100%;
    }

    &__user-options
    {
        display: flex;
        align-items: center;
    }
    &__lower
    {
        background-color: #D82148;
        padding: 0 1.5rem;
        margin-bottom: 4rem;
    }
}