    <div class="container justify-content-center my-5" >
        <button class="btn btn-success" [routerLink]="['/product/add']">Add Product</button>
        <button  class="btn btn-success mx-3" [routerLink]="['/order']">Orders </button>
        <button class="btn btn-success " [routerLink]="['/product/listing']">Menu</button>
        <form class="d-flex">
          <input  class="form-control me-2 search fs-4 mx-3" name="search" [(ngModel)]="searchInput" type="search" placeholder="Search" aria-label="Search">
        </form>
  
        <button class="btn btn-success " [routerLink]="['/contact']">feedbacks</button>

     <!-- <router-outlet></router-outlet> -->
    </div>


<table class="table table-bordered text-center w-75 mx-auto mb-5">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of productArr | filter: searchInput | paginate:{ itemsPerPage: 5, currentPage: p}">
        <td>{{prod.id}}</td>
        <td>{{prod.name}}</td>
        <td><img src="{{prod.imagepath}}" style="width: 80px; height: 80px;" alt=""></td>
        <td>{{prod.description}}</td>
        <td>{{prod.price}}</td>
        <td><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#show" (click)="getProductById(prod.id!)">Show</button></td>
        <td><button class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#edit" (click)="getProductById(prod.id!)">Edit</button></td>
        <td><button class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#delete"(click)="getProductById(prod.id!)">Delete</button></td>
      </tr>
    </tbody>
  </table>

<!--show  Modal -->

 <div class="modal fade  " id="show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Show Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        <ng-template [ngIf]="pro && category">

          <div class="modal__left col-md-6">
            <img class="modal__img  col-md-12" src="{{pro.imagepath}}" alt="">
          </div>
      
          <div class="modal__right col-md-6">
            <div class="detail mt-3">
              <h2 class="detail__title ">{{pro.name}}</h2>
              <span class="badge bg-primary detail__category">{{category.name}}</span>
              <p class="detail__description">{{pro.description}}</p>
              <p class="detail__price">{{pro.price | currency:'EGP'}} </p>
            </div>
          </div>
            <!-- <img src="{{pro.imagepath}}" style="width: 200px; height: 200px;" alt="">
            <h2>{{pro.name}}</h2>
            <p>{{pro.price}}</p>
            <p>{{pro.description}}</p>
            <p>{{category.name}}</p> -->
            
      </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 






<!--edit   Modal --> 
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" > 
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <ng-template [ngIf]="pro && category">
         
            <input type = "text" name = "name"  [(ngModel)]="pro.name">
            <br/>
    
            <input type = "text" name = "imagepath" [(ngModel)]="pro.imagepath">
            <br/>

            <input type = "text" name = "category_name" [(ngModel)]="category.name">
            <br/>
            <select></select>
            
            <input type = "number" name = "price" [(ngModel)]="pro.price">
            <br/>
          
            <textarea name = "description" [(ngModel)]="pro.description"></textarea>
            <br/>         
      </ng-template>
      </div>
      <div class="modal-footer">
        <input type = "submit" class="btn btn-primary"  value = "Save changes">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="redirecttodash()">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <ng-template [ngIf]="pro">
            <p>Are you sure to delete this {{pro.name}} food</p>
      </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onItemDeleted(pro.id)">Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="redirecttodash()">close</button>
        
      </div>
    </div>
  </div>
</div>

  <pagination-controls
  (pageChange)="p = $event"
  class="d-flex justify-content-end fs-4 me-5">
  </pagination-controls>


