<div class="container-fluid">
  <div class="row">
    <div class="col-12 gradient">
      <h2 class="p-5  text-center">Our Vision</h2>
      <p class="h4 p-5 pt-3 lh-base text-center">
        Our special taste with our perfect service will position us as a chain
        restarunt with the global presence
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="p-5 orange text-center">Our Products</h2>
      <p class="h4 p-5  pt-3  lh-base black text-center">
        We prepare and cook the fresh chicken in our mix and the delicious
        sandwich with a selection of special sauces. We stand out and make our
        own desserts daily with a combination of delicious Nautilus chocolate
        cakes and fresh cakes. We have an excellent selection of delicious side
        dishes also served with soft drinks.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 gradient">
      <h2 class="p-5 text-center">Objectives</h2>
      <p class="h4 p-5  pt-3  lh-base text-center">
        for the first year of operations are "Become selected as the " Best new
        restarunt in the area by the local restaurant guide .
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="p-5 orange text-center">Keys to Success</h2>
      <p class="h4 p-5  pt-3 lh-base black text-center">
        The Keys to success will be restaurant design that will be both visually
        attractive to customers and designed for fast and efficient operations
        Employee training to insure the best chicken preparation techniques
        Marketing strategies aimed to build a solid base of loyal customers as
        well as maximizing the sales of high margin products
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 gradient">
      <h2 class="p-5 text-center">Our Mission</h2>
      <p class="h4 p-5 pt-3  lh-base text-center">
        Our Mission is to accomplish these goals .Best service with best quality
        products Healthy and advance environment which people and connect
        diverse perspectives Provide different offer for customer satisfaction .
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="p-5 orange text-center">Future Plans</h2>
      <p class="h4 p-5 pt-3  lh-base black text-center">
        We Plan to be chain and open other branches in all over Egypt to spread
        our best chicken taste
      </p>
    </div>
  </div>

  <div class="row">
    <div  class="col-12 gradient">
      <h2 class="p-5 text-center">Working hours </h2>
      <table border="1">
        <tr>
          <th>Day</th>
          <th>From</th>
          <th>To</th>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>12:00 am</td>
          <td>10:00 pm</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>12:00 am</td>
          <td>10:00 pm</td>
        </tr>
        <tr>
          <td>Monday</td>
          <td>12:00 am</td>
          <td>10:00 pm</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>12:00 am</td>
          <td>10:00 pm</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>12:00 am</td>
          <td>10:00 pm</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>12:00 am</td>
          <td>12:00 pm</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>12:00 am</td>
          <td>12:00 pm</td>
        </tr>
      </table>
    </div>
  </div>
  
</div>