<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css
">
<div class="thankyoucontent">
    <div class="wrapper-1">
       <div class="wrapper-2">
        <i class="fa-solid fa-envelope"></i>
        <h1>Thank you!</h1>
         <p class="fw-5">for contacting us, we will reply promptly</p> 
         <p>once your message is received. </p>
         <button class="go-home" routerLink="/home">
           home page
         </button>
       </div>
      
   </div>
    
   
   
   
   