.carouselSt{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
}
.carousel img{
    height:600px !important;
}
h2{
    font-size: 50px;
}
h4{
    color:#ff5e14;
}