.navbar a{
    color: white !important;
}
.navbar li :hover{
color: #ff5e14 !important;
}
.log{
    font-size: 15px;
    background-color: #cfc8c5;
}
.gray{
  background-color: #cfc8c5;
}
.modal{
  background: rgba(0,0,0, .5);
}
