  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75">
    <div class="container-fluid">
      <a routerLink="home" class="header__logo-box mx-5">
        <img class="header__logo image--circle" src="/assets/img/reslogo.jpg" alt="logo">
      </a>

      <!-- <h2 class="navbar-brand mx-5 flex-grow-1" href="#home">X GROUP</h2> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end mx-4" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav__item">
            <a class="nav__link " aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav__item dropdown ">
            <!-- title -->
            <a class="nav__link dropdown__header" routerLink="">
              Menu
            </a>
            <!-- items -->
            <div class="dropdown__body">
              <ul class=" list">
                <li class="list__item">
                  <a class="nav__inner-link" routerLink="product/listing">All Menu</a>
                </li>
                <li class="list__item">
                  <a class="nav__inner-link" routerLink="product/add">Add New Item</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav__link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav__link" href="#portfolio">Contact Us</a>
          </li>
          <!-- <li>
                    <a href="#" class="nav__link">Login</a>
                  </li> -->
                  <!-- *ngIf="loggedIn" -->
                  <li>
                    <div class="nav-item dropdown">
                      <a class="nav__link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                    
                      <ul class="dropdown-menu log" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/product/listing">Dashboard</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                      </ul>
                    </div>
                  </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]>
              <app-dropdown>
                <ng-container class="header">
                  <!-- <div class="image image--small" style="background-image: url('assets/img/shopping-cart.png')"> -->
                    <i class="fas fa-cart-arrow-down nav__link" style="font-size: 15px;"></i>
                    <div class="notification notification--danger my-4">
                      {{addedProducts.length}}
                    </div>
                  <!-- </div> -->
                </ng-container>
                <ng-container class="body">
                  <!-- items -->
                  <ul class="dropdown__items list list--vr-separator">
                    <li *ngFor="let item of addedProducts " class="dropdown__item list__item">
                      <!-- item small 2 -->
                      <div class="item-small-1">
                        <!-- item data -->
                        <div class="item-small-1__data">
                          <!-- title -->
                          <a href="" class="item-small-1__title">{{item.name}} X {{item.price}}</a>
                          <!-- price   -->
                          <span class="item-small-1__description">
                            {{item.cartCounter}} X ${{item.price}}
                          </span>
                        </div>
                        <!-- item image -->
                        <div class="item-small-1__image-box">
                          <a href="#" class="item-small-1__image image"
                            [style]="'background-image: url('+item.imagepath+')'">
                          </a>
                          <a href="#" class="item-small-1__action" (click)="delete(item)">
                            <i class="fas fa-times"></i>
                          </a>
                        </div>
                      </div>
                    </li>

                  </ul>
                  <!-- totals -->
                  <div class="separator"></div>
                  <div class="block">
                    <span class="lable">Total:</span>
                    <span class="lable">$0</span>
                  </div>
                  <!-- actions -->
                  <div class="block list list--hr">
                    <a class="list-item btn btn-primary" href="">View Cart</a>
                    <a class="list-item btn btn-danger" href="">Checkout</a>
                  </div>
                </ng-container>
              </app-dropdown>

            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
