<section class="container-fluid bg-dark ff">
    <div class="row d-flex p-5">
    <div class="col-sm-7">
      <h3>Our Newsletter</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias commodi nulla quas optio est voluptates?</p>
    </div>
    <div class="col-sm-4 d-flex">
      <input class="form-control my-auto w-50" type="search" placeholder="enter your email" aria-label="Search">
      <button class="btn btn-outline-primary my-auto" type="submit">Subscribe</button>
    </div>
    </div>
    
    <div class="row text-center border-top p-3 my-auto">
    <h6>&copy; All rights reserved.</h6>
    </div>
    </section>
    