ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta {
  i {
    color: #ffb03b;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
  margin-top: 8px;

  h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  span {
    color: #757575;
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern {
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
}

.footer-logo {
  margin-bottom: 20px;

  img {
    max-width: 100px;
  }
}

.footer-text {
  p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }
}

.footer-social-icon {
  span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }

  a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }

  i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #DD4B39;
}

.footer-widget-heading {
  h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: #ffb03b;
    }
  }
}

.footer-widget {
  ul {
    li {
      display: inline-block;
      width: 50%;
      margin-bottom: 12px;
      font-size: 15px;

      a {
        &:hover {
          color: #ffb03b;
        }

        color: #878787;
        text-transform: capitalize;
      }
    }
  }
}

.ff {
  span {
    color: #878787;
    font-size: 15px;
  }

  color: #ffb03b !important;
  font-size: 15px;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text {
  p {
    margin: 0;
    font-size: 14px;
    color: #878787;

    a {
      color: #ffb03b;
      text-decoration: none;
    }
  }
}
