section {
  background-image: url("../../../assets/img/lgbg1.jpg");
  background-size: cover;
}

.login-box {
  margin-top: 75px;
  height: auto;
  background: #c0bfbd62;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-title {
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  color: #ffb03b;
  font-family: "Lucida Handwriting";
  font-size: 20px;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type=password] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffb03b;
  font-weight: bold;
  outline: 0;
  margin-bottom: 15px;
  font-size: 15px;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background-color: white;
  color: black;
}

label {
  margin-bottom: 0px;
  font-size: 15px !important;
  font-family: Arial, Helvetica, sans-serif;

}


.form-control-label {
  font-size: 10px;
  color: rgb(58, 56, 56);
  font-weight: bold;
  letter-spacing: 1px;
}

.btn {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 12px 30px;
  border-radius: 50px;
  line-height: 1;
  margin: 0 10px;
  background: #ffb03b;
  color: #fff;
  width: auto;
}

.login {
  margin-left: 40%;
}

.btn:hover,
.btn:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover {
  transform: translateY(-1px);
}

.links {
  font-size: 18px;
  cursor: pointer;
  color: rgb(58, 56, 56);
  font-weight: bold;
}
